{% extends 'base/base_form.html' %}

{% block nav %}
      
{% endblock nav %}

{% block formbody %}
  {% if validlink %}
    <h3>Cambiar Password</h3>
    <form action="" method="post" class="form">
       {% load bootstrap3 %}
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary center-block">
                {% bootstrap_icon "star" %} Cambiar Password
            </button>
        {% endbuttons %}
    </form>
  {% else %}
    <p>
      El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se utilizó o caduco.
      Solicite un nuevo restablecimiento de contraseña.
    </p>
  {% endif %}
{% endblock %}