{% extends 'base/base_form.html' %}
	{% block nav %}
	    
	{% endblock nav %}
	{% block formbody %}
	  {% load bootstrap3 %}
	    <h2 style="text-align: center;">Reseteo de Contraseña</h2>
	    <p>Inserte su correo electronico para resetear su contraseña</p>
		<form action="" method="post" class="form">
		    {% csrf_token %}
		    {% bootstrap_form form %}
		    {% buttons %}
		        <button type="submit" class="btn btn-primary center-block">
		            {% bootstrap_icon "star" %} Enviar
		        </button>
		    {% endbuttons %}
		</form>
	{% endblock formbody %}