{% extends "base/base_form.html" %}
	{% block formbody %}
	    {% load bootstrap3 %}
	    <h2 style="text-align: center;">Plan de Mejora</h2>
	    <div class="alert alert-info" role="alert">
			<strong>Las Respuestas del plan de mejora corresponden!</strong>
			<br>
			● <strong>AD:</strong> Auto Evaluación Docente
			<br>
			● <strong>EE:</strong> Evaluación Estudiantil
			<br>
			● <strong>ED:</strong> Evaluación del Director de Carrera
			<br>
			● <strong>Atención!!!!</strong> Las debilidades encontradas fluctúan entre una nota de 1-4.
		</div>
		<form action="" method="post">
		    {% csrf_token %}
		    <!--
		    {% bootstrap_form form %}
			-->
			{% bootstrap_form_errors form type='non_fields' %}
			{% if form.pregunta_1 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_1 %}
					{% bootstrap_field form.meta_1 %}
					{% bootstrap_field form.indicador_1 %}
					{% bootstrap_field form.medio_veri_1 %}
				</div>
			{% endif %}
			{% if form.pregunta_2 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_2 %}
					{% bootstrap_field form.meta_2 %}
					{% bootstrap_field form.indicador_2 %}
					{% bootstrap_field form.medio_veri_2 %}
				</div>
			{% endif %}
			{% if form.pregunta_3 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_3 %}
					{% bootstrap_field form.meta_3 %}
					{% bootstrap_field form.indicador_3 %}
					{% bootstrap_field form.medio_veri_3 %}
				</div>
			{% endif %}
			{% if form.pregunta_4 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_4 %}
					{% bootstrap_field form.meta_4 %}
					{% bootstrap_field form.indicador_4 %}
					{% bootstrap_field form.medio_veri_4 %}
				</div>
			{% endif %}
			{% if form.pregunta_5 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_5 %}
					{% bootstrap_field form.meta_5 %}
					{% bootstrap_field form.indicador_5 %}
					{% bootstrap_field form.medio_veri_5 %}
				</div>
			{% endif %}
			{% if form.pregunta_6 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_6 %}
					{% bootstrap_field form.meta_6 %}
					{% bootstrap_field form.indicador_6 %}
					{% bootstrap_field form.medio_veri_6 %}
				</div>
			{% endif %}
			
			{% if form.pregunta_7 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_7 %}
					{% bootstrap_field form.meta_7 %}
					{% bootstrap_field form.indicador_7 %}
					{% bootstrap_field form.medio_veri_7 %}
				</div>
			{% endif %}

			{% if form.pregunta_8 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_8 %}
					{% bootstrap_field form.meta_8 %}
					{% bootstrap_field form.indicador_8 %}
					{% bootstrap_field form.medio_veri_8 %}
				</div>
			{% endif %}

			{% if form.pregunta_9 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_9 %}
					{% bootstrap_field form.meta_9 %}
					{% bootstrap_field form.indicador_9 %}
					{% bootstrap_field form.medio_veri_9 %}
				</div>
			{% endif %}

			{% if form.pregunta_10 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_10 %}
					{% bootstrap_field form.meta_10 %}
					{% bootstrap_field form.indicador_10 %}
					{% bootstrap_field form.medio_veri_10 %}
				</div>
			{% endif %}

			{% if form.pregunta_11 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_11 %}
					{% bootstrap_field form.meta_11 %}
					{% bootstrap_field form.indicador_11 %}
					{% bootstrap_field form.medio_veri_11 %}
				</div>
			{% endif %}

			{% if form.pregunta_12 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_12 %}
					{% bootstrap_field form.meta_12 %}
					{% bootstrap_field form.indicador_12 %}
					{% bootstrap_field form.medio_veri_12 %}
				</div>
			{% endif %}

			{% if form.pregunta_13 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_13 %}
					{% bootstrap_field form.meta_13 %}
					{% bootstrap_field form.indicador_13 %}
					{% bootstrap_field form.medio_veri_13 %}
				</div>
			{% endif %}

			{% if form.pregunta_14 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_14 %}
					{% bootstrap_field form.meta_14 %}
					{% bootstrap_field form.indicador_14 %}
					{% bootstrap_field form.medio_veri_14 %}
				</div>
			{% endif %}

			{% if form.pregunta_15 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_15 %}
					{% bootstrap_field form.meta_15 %}
					{% bootstrap_field form.indicador_15 %}
					{% bootstrap_field form.medio_veri_15 %}
				</div>
			{% endif %}

			{% if form.pregunta_16 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_16 %}
					{% bootstrap_field form.meta_16 %}
					{% bootstrap_field form.indicador_16 %}
					{% bootstrap_field form.medio_veri_16 %}
				</div>
			{% endif %}

			{% if form.pregunta_17 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_17 %}
					{% bootstrap_field form.meta_17 %}
					{% bootstrap_field form.indicador_17 %}
					{% bootstrap_field form.medio_veri_17 %}
				</div>
			{% endif %}

			{% if form.pregunta_18 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_18 %}
					{% bootstrap_field form.meta_18 %}
					{% bootstrap_field form.indicador_18 %}
					{% bootstrap_field form.medio_veri_18 %}
				</div>
			{% endif %}

			{% if form.pregunta_19 %}
				<div class="bodermejoras">
					{% bootstrap_field form.pregunta_19 %}
					{% bootstrap_field form.meta_19 %}
					{% bootstrap_field form.indicador_19 %}
					{% bootstrap_field form.medio_veri_19 %}
				</div>
			{% endif %}

			{% if form.preguntad_4 %}
				<div class="bodermejoras">
					{% bootstrap_field form.preguntad_4 %}
					{% bootstrap_field form.metad_4 %}
					{% bootstrap_field form.indicadord_4 %}
					{% bootstrap_field form.medio_verid_4 %}
				</div>
			{% endif %}

			{% if form.preguntad_5 %}
				<div class="bodermejoras">
					{% bootstrap_field form.preguntad_5 %}
					{% bootstrap_field form.metad_5 %}
					{% bootstrap_field form.indicadord_5 %}
					{% bootstrap_field form.medio_verid_5 %}
				</div>
			{% endif %}

			{% if form.preguntad_6 %}
				<div class="bodermejoras">
					{% bootstrap_field form.preguntad_6 %}
					{% bootstrap_field form.metad_6 %}
					{% bootstrap_field form.indicadord_6 %}
					{% bootstrap_field form.medio_verid_6 %}
				</div>
			{% endif %}
			
		    {% buttons %}
		        <button type="submit" class="btn btn-primary center-block">
		            {% bootstrap_icon "send" %} Enviar
		        </button>
		    {% endbuttons %}
		</form>
		<style type="text/css">
			.form-group textarea {
				height: 6em;
			}
			.bodermejoras{
				padding: 10px;
				border-style: solid;
				border-width: 5px;
				border-color: #007B5E;
				margin-bottom: 10px;
			}
		</style>
	{% endblock formbody %}