{% extends "base/base_form.html" %}
	{% block formbody %}
	    {% load bootstrap3 %}
	    <h2 style="text-align: center;">Borrar Designación</h2>

	    <div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  Esta seguro de borrar la designación de evaluación "{{ object }}"? del usuario "{{ object.usuario.first_name }}"
		</div>
	    
		<form action="" method="post">
		    {% csrf_token %}
		    {% buttons %}
		        <button type="submit" class="btn btn-danger center-block">
		            {% bootstrap_icon "send" %} Borrar
		        </button>
		    {% endbuttons %}
		</form>
	{% endblock formbody %}