{% extends "base/base_list.html" %}

	{% block listbody %}

		<h2 style="text-align: center;">Lista de Evaluaciones Activas del Usuario</h2>
		<h3>{{evaluacion}}</h3>
		<form role="form" class="form-inline" action="" method="get" accept-charset="utf-8">
			{% load bootstrap3 %}
			{% bootstrap_form form layout='inline' %}
			<button class="btn btn-default" type="submit" style="visibility: hidden;">Buscar</button>
		</form>
	    <table class="table table-striped table-hover ">
	    	<thead>
	    		<tr>
	    			<th>
	    				#id
	    			</th>
	    			<th>
	    				Carrera
	    			</th>
	    			<th>
	    				Docente
	    			</th>
	    			<th>
	    				M. Sigla
	    			</th>
	    			<th>
	    				Materia Nombre
	    			</th>
	    			<th>
	    				Gestion
	    			</th>
	    			<th>
	    				Estado
	    			</th>
	    			<th>
	    				Opciones
	    			</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    	{% if object_list %}
	    	    {% for eva in object_list %}
	    	    	<tr>
	    	    		<td>
	    	    			{{eva.id}}
	    	    		</td>
	    	    		<td>
	    	    			{{eva.carrera}}
	    	    		</td>
	    	    		<td>
	    	    			{{eva.docente}}
	    	    		</td>
	    	    		<td>
	    	    			{{eva.materia.sigla}}
	    	    		</td>
	    	    		<td>
	    	    			{{eva.materia.nombre}}
	    	    		</td>
	    	    		<td>
	    	    			{{eva.gestion}}
	    	    		</td>
	    	    		<td>
	    	    			{% if eva.estado %}
	    	    				<span class="label label-success">{{eva.estado_actual}}</span>
	    	    			{% else %}
	    	    				<span class="label label-warning">{{eva.estado_actual}}</span>
	    	    			{% endif %}
	    	    		</td>
	    	    		<td>
	    	    			<div class="btn-group">
								<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    	Gestion de Evaluaciones <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<!--
								    <li>
								    	<a href="{# url 'procesoeval:sendmailalumproeval' eva.pk #}">Enviar Email Evaluacion Estudiantil<span class="glyphicon glyphicon-send"></span></a>
								    </li>
								    <li>
								    	<a href="{# url 'procesoeval:createalumproeval' eva.pk #}">Evaluacion Estudiantil<span class="glyphicon glyphicon-question-sign"></span></a>
								    </li>
								    <li>
								    	<a href="{# url 'procesoeval:sendmailproaeval' eva.pk #}">Enviar Email Autoevaluacion Docente<span class="glyphicon glyphicon-send"></span></a>
								    </li>
								    <li>
								    	<a href="{# url 'procesoeval:createproaeval' eva.pk #}">Autoevaluacion Docente<span class="glyphicon glyphicon-question-sign"></span></a>
								    </li>
								    <li>
								    	<a href="{# url 'procesoeval:sendmailprodcarrera' eva.pk #}">Enviar Email Evaluacion Director Carrera<span class="glyphicon glyphicon-send"></span></a>
								    </li>
								    <li>
								    	<a href="{# url 'procesoeval:createprodcarreraeval' eva.pk #}">Evaluacion Director Carrera<span class="glyphicon glyphicon-question-sign"></span></a>
								    </li>
									-->
								    <li>
								    	<a target="_blank" href="{% url 'procesoeval:codepdf' eva.pk %}">Imprimir Claves</a>
								    </li>
								    {% if eva.estado %}
								        <li>
									    	<a href="{% url 'procesoeval:estobservacion' eva.pk %}">Llenado de Observaciones</a>
									    </li>
									    <li>
									    	<a href="{% url 'procesoeval:createcomicion' eva.pk %}">Añadir Participante de la Comisión</a>
									    </li>
									    <li>
									    	<a href="{% url 'procesoeval:listcomicion' eva.pk %}">Lista de Participantes de la Comisión</a>
									    </li>
								    {% endif %}
								    
								    {% if eva.estado %}
								  	<li>
										<a href="" data-toggle="modal" data-target="#reportemodal{{eva.pk}}">
										  Reporte Evaluación
										</a>
									</li>
			    	    			{% else %}
				    	    			<li>
											<a href="{% url 'procesoeval:reporteeva' eva.pk %}" target="_blank">
												Reporte Evaluación
											</a>
										</li>
			    	    			{% endif %}
								</ul>
							</div>

							<div class="modal fade" id="reportemodal{{eva.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header modal-header-danger">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Atención!!!</h4>
										</div>
										<div class="modal-body">
										Una vez generado el reporte se desactivara la evaluación si esta seguro presione aceptar.
										{% if not eva.esta_llenado %}
											<h3 style="color:red;">!!!Al Parecer aun no se a llenado la autoevaluacion o la evaluación del rector por favor revise esto, también es necesario que al menos una parte de los estudiantes hayan llenado la evaluación</h3>
										{% endif %}
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											{% if eva.esta_llenado %}
												<a target="_blank" href="{% url 'procesoeval:reporteeva' eva.pk %}" type="button" class="btn btn-primary" onclick="$('#reportemodal{{eva.pk}}').modal('hide')">Aceptar</a>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							
	    	    		</td>
	    	    	</tr>
	    	    {% endfor %}
	    	{% else %}

	    	{% endif %}
	    	</tbody>
	    </table>

			{% if is_paginated %}
				<div class="text-center">
				<ul class="pagination">
				{% if page_obj.has_previous %}
				    <li>
				        <span><a href="?page={{ page_obj.previous_page_number }}{% if searchdata %}&search={{searchdata}}{% endif %}">Anterior</a></span>
				    </li>
				{% endif %}
				    <li class="">
				        <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
				    </li>
				{% if page_obj.has_next %}
				    <li>
				        <span><a href="?page={{ page_obj.next_page_number }}{% if searchdata %}&search={{searchdata}}{% endif %}">Siguiente</a></span>
				    </li>
				{% endif %}
				</ul>
				</div>
			{% else %}
				<div class="text-center">
					<!--<p>Sin Paginacion</p>-->
				</div>
			{% endif %}

	{% endblock listbody %}