{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#101010">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#101010">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#101010">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Sistema de Evaluación Docente</title>
	<link rel="stylesheet" href="{% static "gloval.css" %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
	{% block body %}

		{% block nav %}
		    {% include "base/nav.html" %}
		{% endblock nav %}

		{% block contend %}
		   	<div class="container">
			  <h2>Dirección de Evaluación y Acreditación</h2>
			  <p>Sistema de Evaluacion Docente</p>
			  <img src="{% static "logo.png" %}" alt="" class="img-responsive center-block" />
			</div>
		{% endblock contend %}
		    
	{% endblock body %}	
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static "dropdown.js" %}"></script>
    <script src="{% static "chainedfk.js" %}"></script>
    <!--<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>-->
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>

</body>
</html>