{% load static %}
<div class="modal fade" id="quitarevaluador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atención!!!</h4>
      </div>
      <div class="modal-body">
        <h3 style="color:red;">!!!Una vez presione aceptar se quitara los permisos de evaluador a todos</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a target="_blank" href="{% url 'usuarios:quitareval' %}" type="button" class="btn btn-primary">Aceptar</a>
          <!-- $('#reportemodal{{eva.pk}}').modal('hide') -->
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SISEVA</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      {% if perms.usuarios.usuarios %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuarios <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'usuarios:nuevouser' %}">Crear nuevo usuario</a></li>
              <li><a href="{% url 'usuarios:listauser' %}">Lista de usuarios</a></li>
              <li><a href="{% url 'usuarios:createdocenuser' %}">Usuario Docente</a></li> 
              <li><a href="" data-toggle="modal" data-target="#quitarevaluador">Imprimir Claves</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}
      
      {% if perms.usuarios.academico %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Académico <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'academico:createfacultad' %}">Crear Facultad</a></li>
              <li><a href="{% url 'academico:listafacultad' %}">Lista de Facultades</a></li>
              <li><a href="{% url 'academico:createcarrera' %}">Crear carrera</a></li>
              <li><a href="{% url 'academico:listcarrera' %}">Lista de carreras</a></li>
              <li><a href="{% url 'academico:createmateria' %}">Crear Materia</a></li>
              <li><a href="{% url 'academico:listamateria' %}">Lista de Materias</a></li>
              <li><a href="{% url 'academico:createdocente' %}">Crear Docente</a></li>
              <li><a href="{% url 'academico:listadocente' %}">Lista Docente</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}

      {% if perms.usuarios.conf_evaluaion %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Evaluación <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'evaluacion:createevaluacion' %}">Crear Evaluación</a></li>
              <li><a href="{% url 'evaluacion:listaevaluacion' %}">Lista de Evaluaciones</a></li>
              <li><a href="{% url 'evaluacion:listcarreraasig' %}">Comisiones por carrera</a></li>
              <li><a href="{% url 'evaluacion:gestionsetting' %}">Configuración General</a></li>
              <li><a href="{% url 'santiguo:listevalaantgadm' %}">Lista de Evaluaciones Sistema Antiguo</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}

      {% if perms.usuarios.docente %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Evaluaciones Propias<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'plmejoras:listplnmejoras' %}">Lista de Evaluaciones Digitales.</a></li>
              <li><a href="{% url 'santiguo:listevalaantg' %}">Lista de Evaluaciones del sistema manual</a></li>

            </ul>
          </li>
        </ul>
      {% endif %}
      
      {% if perms.usuarios.evaluacion %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Proceso de Evaluación <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "procesoeval:createeval" %}">Crear Evaluación</a></li>
              <li><a href="{% url 'procesoeval:listevaluser' %}">Lista de Evaluaciones Activas</a></li>
              <li><a href="{% url 'procesoeval:listcarrcomision' %}">Adherir comisión (Carrera)</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}

      {% if perms.usuarios.dcarrera %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seguimiento D. Carrera <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "sdcarrera:listplnmejorasre" %}">Lista de Docentes</a></li>
              <li><a href="{% url "sdcarrera:listplnmejorasreantg" %}" title="">Lista de Docentes S. Antiguo</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}

      <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ayuda <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% if perms.usuarios.docente %}
                <li><a href="{% static "Ejemplo-plnmejoras.pdf" %}" target="_blank">Ejemplo de Plan de mejoras</a></li>
                <li><a href="{% static "Guia-plnmejoras.pdf" %}" target="_blank">Guia de llenado</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>

      <ul class="nav navbar-nav navbar-right">
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
            {{ request.user.username }}
            <span class="glyphicon glyphicon-cog"></span> 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'usuarios:reset_password' %}">Cambiar contraseña</a></li>
            <li><a href="{% url 'usuarios:updateuser' %}">Actualizar información</a></li>
            <!--<li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>-->
            <li class="divider"></li>
            <li><a href="{% url 'usuarios:creditos' %}">Creditos</a></li>
            <li><a href="{% url 'usuarios:logout' %}">Salir</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>