{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title></title>


  <style type="text/css">
    @page { size: letter portrait;
    /*background: gray;
    border: solid 1pt blue;
    padding: 9pt;
    margin: 18pt 18pt 18pt 18pt;
    font-family: "Helvetica Narrow";
    @top-left {
       content: 'PrivateCopy';
       color: red;
       font-style: bolditalic;
              }
    @top {
       content: string(doctitle);
         }
    @bottom-left {
       content: 'My Super-Duper Manual';
       font-style: bold;
                  }
    */
    @bottom-left {
       content: "Pagina " counter(page) " de " counter(pages);
       font-style: bold;
    }
    /*
    @bottom {
       content: string(paratitle);
            }
    */
    }

    @page portrait {
      size: letter portrait;
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/static/logo.png") no-repeat;
      background-attachment: fixed;
      background-position: center center;
    }
    .portrait{
      page: portrait;
    }

    @page landscape {
      size: letter landscape;
      background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/static/logo.png") no-repeat;
      background-attachment: fixed;
      background-position: center center;
    }
    .landscape{
      page: landscape;
    }

    .tabla table, th, td {
      border: 1px solid black;
    }
    .tabla th,td{
       padding: 4px;
    }
    .textsmall{
      font-size: x-small;
    }
    .text1{
      font-size: small;
    }
    .tablenoboder {
      border: none;
    }
  </style>
</head>
<body>

    <h2 style="text-align: center;">Universidad Autónoma "Tomas Frías"</h2>
    <h3 style="text-align: center;">Dirección de Evaluación y Acreditación Universitaria</h3>
    <br>
    <img src="{% static "logo.png" %}" style="display: block; margin-left:auto; margin-right:auto;">
    <br>
    <h3 style="text-align: center;">Seguimiento o Evaluación</h3>
    <h3 style="text-align: center;">Evaluación al Despeño Docente {{ object_list.gestion }}</h3>

    <br>
    <table style="margin-left:auto; margin-right:auto;">
          <tr>
            <td style="min-width:200px" class="tablenoboder"><b>Carrera:</b></td>
            <td class="tablenoboder">{{ object_list.carrera }}</td>
          </tr>
          <tr>
            <td class="tablenoboder"><b>Docente:</b></td>
            <td class="tablenoboder">{{ object_list.docente}}</td>
          </tr>
          <tr>
            <td class="tablenoboder"><b>Materia:</b></td>
            <td class="tablenoboder">{{ object_list.materia.nombre }}</td>
          </tr>
          <tr>
            <td class="tablenoboder"><b>Sigla:</b></td>
            <td class="tablenoboder">{{ object_list.materia.sigla }}</td>
          </tr>
    </table>
    <img src="{% static "trevol.jpg" %}" style="width:100px;display: block; margin-left:auto; margin-right:auto;">


  <div class="landscape">
    <h1 style="text-align: center;">Valoración Global del Desempeño Docente</h1>
    <div style="border: none; border-style: none;">
      <table class="text1" style="margin-left:auto; margin-right:auto;">
          <tr>
            <td class="tablenoboder">Docente:</td>
            <td class="tablenoboder">{{ object_list.docente }}</td>
            <td class="tablenoboder">Carrera:</td>
            <td class="tablenoboder">{{ object_list.carrera }}</td>
            <td class="tablenoboder">Materia:</td>
            <td class="tablenoboder">{{ object_list.materia.nombre }}</td>
          </tr>
          <tr>
            <td class="tablenoboder">Sigla:</td>
            <td class="tablenoboder">{{ object_list.materia.sigla }}</td>
            <td class="tablenoboder">Numero de alumnos:</td>
            <td class="tablenoboder">{{ object_list.numero_alumnos }}</td>
            <td class="tablenoboder">Creación:</td>
            <td class="tablenoboder">{{ object_list.creacion|date:'Y-m-d H:i' }}</td>
          </tr>
          <tr>
            <td class="tablenoboder" colspan="2">Cuestionarios Llenados:</td>
            <td class="tablenoboder">{{object_list.cuestionarios_llenados}}</td>
            <td class="tablenoboder" colspan="2">Cuestionarios Vacíos:</td>
            <td class="tablenoboder">{{object_list.cuestionarios_vacios}}</td>
          </tr>
      </table>
    </div>
    
    <div class="tabla">
      <table class="textsmall" style="margin-left:auto; margin-right:auto;">
        <thead>
          <tr>
            <th>
              
            </th>
            <th colspan="19">
              Áreas
            </th>
            <th colspan="2">
              Promedio
            </th>
          </tr>
          <tr>
            <th>
              Categoría
            </th>
            <th>
              1
            </th>
            <th>
              2
            </th>
            <th>
              3
            </th>
            <th>
              4
            </th>
            <th>
              5
            </th>
            <th>
              6
            </th>
            <th>
              7
            </th>
            <th>
              8
            </th>
            <th>
              9
            </th>
            <th>
              10
            </th>
            <th>
              11
            </th>
            <th>
              12
            </th>
            <th>
              13
            </th>
            <th>
              14
            </th>
            <th>
              15
            </th>
            <th>
              16
            </th>
            <th>
              17
            </th>
            <th>
              18
            </th>
            <th>
              19
            </th>
            <th>
              
            </th>
            <th>
              
            </th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td>Autoevaluacion Docente</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_1 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_2 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_3 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_4 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_5 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_6 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_7 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_8 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_9 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_10 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_11 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_12 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_13 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_14 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_15 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_16 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_17 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_18 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.pregunta_19 }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.prom_autoeva }}</td>
            <td>{{ object_list.cuestionario_aevaluacion.prom_autoeva_porcen }}%</td>
          </tr>
          <tr>
            <td>Opinión Estudiantil</td>
            <td>{{ object_list.alum_p1 }}</td>
            <td>{{ object_list.alum_p2 }}</td>
            <td>{{ object_list.alum_p3 }}</td>
            <td>{{ object_list.alum_p4 }}</td>
            <td>{{ object_list.alum_p5 }}</td>
            <td>{{ object_list.alum_p6 }}</td>
            <td>{{ object_list.alum_p7 }}</td>
            <td>{{ object_list.alum_p8 }}</td>
            <td>{{ object_list.alum_p9 }}</td>
            <td>{{ object_list.alum_p10 }}</td>
            <td>{{ object_list.alum_p11 }}</td>
            <td>{{ object_list.alum_p12 }}</td>
            <td>{{ object_list.alum_p13 }}</td>
            <td>{{ object_list.alum_p14 }}</td>
            <td>{{ object_list.alum_p15 }}</td>
            <td>{{ object_list.alum_p16 }}</td>
            <td>{{ object_list.alum_p17 }}</td>
            <td>{{ object_list.alum_p18 }}</td>
            <td>{{ object_list.alum_p19 }}</td>
            <td>{{ object_list.prom_alum }}</td>
            <td>{{ object_list.prom_alum_porcen }}%</td>
          </tr>
          <tr>
            <td>Promedio</td>
            <td>{{ object_list.alum_prom_p1 }}</td>
            <td>{{ object_list.alum_prom_p2 }}</td>
            <td>{{ object_list.alum_prom_p3 }}</td>
            <td>{{ object_list.alum_prom_p4 }}</td>
            <td>{{ object_list.alum_prom_p5 }}</td>
            <td>{{ object_list.alum_prom_p6 }}</td>
            <td>{{ object_list.alum_prom_p7 }}</td>
            <td>{{ object_list.alum_prom_p8 }}</td>
            <td>{{ object_list.alum_prom_p9 }}</td>
            <td>{{ object_list.alum_prom_p10 }}</td>
            <td>{{ object_list.alum_prom_p11 }}</td>
            <td>{{ object_list.alum_prom_p12 }}</td>
            <td>{{ object_list.alum_prom_p13 }}</td>
            <td>{{ object_list.alum_prom_p14 }}</td>
            <td>{{ object_list.alum_prom_p15 }}</td>
            <td>{{ object_list.alum_prom_p16 }}</td>
            <td>{{ object_list.alum_prom_p17 }}</td>
            <td>{{ object_list.alum_prom_p18 }}</td>
            <td>{{ object_list.alum_prom_p19 }}</td>
            <td>{{ object_list.prom_alum_general }}</td>
            <td>{{ object_list.prom_alum_general_porcentaje }}%</td>
          </tr>
        </tbody>
      </table>
    </div>

    <table style="margin-left:auto; margin-right:auto;">
      <tbody>
        <tr>
          <td><img src="data:image/png;base64,{{ object_list.grafica_alum }}" style="height:310px;"></td>
          <td><img src="data:image/png;base64,{{ object_list.grfica_direc }}" style="height:310px;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--
  <p style="page-break-before: always"></p>
  <div class="portrait">
  -->
  
  <div class="portrait">
    <b>2.- Detalle de la Evaluación Estudiantil</b>

    <p>El siguiente cuadro es un detalle de evaluación realizada por los estudiantes y las ponderaciones dadas en cada una de ellas que van del 1-5</p>
    <div class="tabla">
    <table class="textsmall" style="margin-left:auto; margin-right:auto;">
      <thead>
        <tr>
          <th>Nª</th>
          <th>P1</th>
          <th>P2</th>
          <th>P3</th>
          <th>P4</th>
          <th>P5</th>
          <th>P6</th>
          <th>P7</th>
          <th>P8</th>
          <th>P9</th>
          <th>P10</th>
          <th>P11</th>
          <th>P12</th>
          <th>P13</th>
          <th>P14</th>
          <th>P15</th>
          <th>P16</th>
          <th>P17</th>
          <th>P18</th>
          <th>P19</th>
        </tr>
      </thead>
      <tbody>
        {% for cues in object_list.cuestionario_alumno_set.all %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ cues.pregunta_1 }}</td>
            <td>{{ cues.pregunta_2 }}</td>
            <td>{{ cues.pregunta_3 }}</td>
            <td>{{ cues.pregunta_4 }}</td>
            <td>{{ cues.pregunta_5 }}</td>
            <td>{{ cues.pregunta_6 }}</td>
            <td>{{ cues.pregunta_7 }}</td>
            <td>{{ cues.pregunta_8 }}</td>
            <td>{{ cues.pregunta_9 }}</td>
            <td>{{ cues.pregunta_10 }}</td>
            <td>{{ cues.pregunta_11 }}</td>
            <td>{{ cues.pregunta_12 }}</td>
            <td>{{ cues.pregunta_13 }}</td>
            <td>{{ cues.pregunta_14 }}</td>
            <td>{{ cues.pregunta_15 }}</td>
            <td>{{ cues.pregunta_16 }}</td>
            <td>{{ cues.pregunta_17 }}</td>
            <td>{{ cues.pregunta_18 }}</td>
            <td>{{ cues.pregunta_19 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <p></p>

    <b>2.- Observaciones</b>
    {% if object_list.observaciones %}
      <p>{{ object_list.observaciones }}</p>
    {% else %}
      <p>No existen Observaciones</p>
    {% endif %}
    <b>3.- Comisión Evaluadora </b>
    <p></p>
    <table class="tabla" style="margin-left:auto; margin-right:auto;">
      <thead>
        <tr>
          <th>Apellidos/Nombres</th>
          <th>C.I.</th>
          <th>Veedor?</th>
          <th style="min-width:200px" >Firma</th>
        </tr>
      </thead>
      <tbody>
        {% for com in object_list.comision_set.all %}
          <tr>
            <td>{{ com.apellidos }} {{ com.nombres }}</td>
            <td>{{ com.ci }}</td>
            <td>
              {% if com.veedor %}
                SI
              {% else %}
                NO
              {% endif %}
            </td>
            <td>
              
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>       
</html>