{% extends "base/base_form.html" %}
	{% block nav %}
		
	{% endblock nav %}
	{% block formbody %}
		{% if valido %}
		    {% load bootstrap3 %}
		    <h2 style="text-align: center;">Cuestionario Eutoevaluacion Docente</h2>
		    <h4>Docente: {{token_aevaluacion.evaluacion.docente}} </h4>
		    <h4>Materia: {{token_aevaluacion.evaluacion.materia.nombre}}</h4>
		    <h4>Sigla: {{token_aevaluacion.evaluacion.materia.sigla}}</h4>
			<form action="" method="post">
			    {% csrf_token %}
			    {% bootstrap_form form %}
			    {% buttons %}
			        <button type="submit" class="btn btn-primary center-block">
			            {% bootstrap_icon "send" %} Enviar
			        </button>
			    {% endbuttons %}
			</form>
			<style type="text/css" media="screen">
				.radio label[for*="_0"] {
    				visibility: hidden;
				}
			</style>
		{% else %}
			{% if usado %}
			    <h2>Error!!!</h2>
				<p>El código ya fue usado</p>
			{% else %}
				<h2>Error!!!</h2>
				<p>El código que trata de utilizar caduco o termino la evaluación</p>
			{% endif %}
		{% endif %}
	{% endblock formbody %}