{% extends "base/base_form.html" %}
	{% block nav %}
		
	{% endblock nav %}
	{% block formbody %}
		{% if valido %}
		    {% load bootstrap3 %}
		    <h2 style="text-align: center;">Cuestionario Eautoevaluacion Docente</h2>
		    <h4>Docente: {{token_aevaluacion.evaluacion.docente}} </h4>
		    <h4>Materia: {{token_aevaluacion.evaluacion.materia.nombre}}</h4>
			<form action="" method="post">
			    {% csrf_token %}
			    {% bootstrap_form form %}
			    {% buttons %}
			        <button type="submit" class="btn btn-primary center-block">
			            {% bootstrap_icon "send" %} Enviar
			        </button>
			    {% endbuttons %}
			</form>
		{% else %}
			<h2>Error!!!</h2>
			<p>El link que trata de utilizar caduco o ya fue usado o ya dio el cuestionario e intenta darlo otra vez</p>
		{% endif %}
	{% endblock formbody %}