{% extends "base/main.html" %}
	{% load static %}
	{% block body %}
	
	<div class="container well">
		
	
	{% block legend %}
		<legend class="text-center">Ingreso de Usuarios</legend>
	{% endblock legend %}	
			
	{% block errores %}
		{% if form.errors %}
				<p>Tu nombre de usuario o contraseña no se han encontrado. Intente de nuevo</p>
		{% endif %}

		{% if next %}
			{% if user.is_authenticated %}
			    <p>Tu cuenta no tiene acceso a esta página. Para continuar,
			    ingresa con una cuenta registrada con los permisos necesarios.</p>
			{% else %}
			    <p>Por favor ingresa los datos requeridos para para ver la pagina principal.</p>
			{% endif %}
		{% endif %}	
	{% endblock errores %}		
						
	{% block formulario %}
		<form {% block iddanger %} {% endblock iddanger %} action="{% url 'usuarios:login' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
				
		<fieldset>
			{% csrf_token %}
			<div class="form-group">
				    <label for="username" class="col-lg-2 control-label">Usuario</label>
				    <div class="col-lg-10">
				      <input type="text" class="form-control" placeholder="Usuario" name="username">
				    </div>
				  </div>

			<div class="form-group">
				    <label for="password" class="col-lg-2 control-label">Contraseña</label>
				    <div class="col-lg-10">
				      <input type="password" class="form-control" placeholder="Contraseña" name="password" data-toggle="password">
				    </div>
				  </div>

			<input type="hidden" name="next" value="{{ next }}" />
					
				  <div class="form-group text-center" >
				   		<a href="{% url 'usuarios:password_reset' %}">Perdio su contraseña?</a>
				      	<!--<button type="reset" class="btn btn-default">Reset</button>-->
				      	<button type="submit" value="login" class="btn btn-primary">Ingresar</button>
				  </div>
			<div class="form-group">
				<div class="text-center" >
		   			<a href="{% url 'evaluacion:redirect' %}" class="btn btn-primary">Realizar Evaluación</a>
		  		</div>
			</div>
		  	
		</fieldset>
		</form>
	{% endblock formulario %}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img src="{% static "logo.png" %}" width="200" alt="">
			</div>
			<div class="col-sm-9">
				<div class="jumbotron">
					<div class="container">
						<h1>Dirección de Evaluación y Acreditación</h1>
						<p>Sistema de Evaluación Docente</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% endblock body %}