{% extends "base/base_form.html" %}
	{% block nav %}
		
	{% endblock nav %}
	
	{% block formbody %}
	    {% load bootstrap3 %}
	    <h2 style="text-align: center;">Crear Nuevo Usuario</h2>
	    <div class="alert alert-warning alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Atención!</strong> Si ya tiene una cuenta creada por favor ingrese a través del siguiente enlace <a class="btn btn-primary" href="/" >Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
		</div>
		<form action="" method="post" class="form">
		    {% csrf_token %}
		    {% bootstrap_form form %}
		    {% bootstrap_form form2 %}
		    {% buttons %}
		        <button type="submit" class="btn btn-primary center-block">
		            {% bootstrap_icon "send" %} Enviar
		        </button>
		    {% endbuttons %}
		</form>
	{% endblock formbody %}