{% extends "base/base_form.html" %}
	{% block nav %}
		
	{% endblock nav %}
	
	{% block formbody %}
		{% load evaluacion_tags %}
	    {% load bootstrap3 %}

	    {% create_user_active as res %}
	    {% if request.user.is_superuser or res %}
	    <h2 style="text-align: center;">Crear Nuevo Usuario</h2>
	    {% endif %}
	    <div class="alert alert-warning alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Atención!</strong> Si ya tiene una cuenta creada por favor ingrese a través del siguiente enlace <a class="btn btn-primary" href="/" >Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
		</div>
		{% if request.user.is_superuser or res %}
			<form action="" method="post" class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% bootstrap_form form2 %}
				{% buttons %}
				    <button type="submit" class="btn btn-primary center-block">
				        {% bootstrap_icon "send" %} Enviar
				    </button>
				{% endbuttons %}
			</form>
		{% else %}
			<div class="jumbotron">
			  <h1>El registro esta deshabilitado temporalmente!!!</h1>
			  <p>Consulte en la dirección de evaluación y acreditación de la uatf</p>
			  <p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></p>
			</div>
		{% endif %}
	{% endblock formbody %}