{% extends 'base/base_form.html' %}
	{% block nav %}
	    
	{% endblock nav %}

	{% block formbody %}
	  	<div class="container">
			<div class="row">
				<div class="col-md-12">
				    <div class="error-template">
				        <h1>
				            Oops!</h1>
				        <h2>
				            500 Algo a fallado</h2>
				        <div class="error-details">
				            Lo sentimos, un error a ocurrido, Algo a sudedido en nuestrso sevidores!!
				        </div>
				        <div class="error-actions">
				            <a href="/" class="btn btn-primary btn-lg">
				            	<span class="glyphicon glyphicon-home"></span>Llevame al Home 
				            </a>
				            <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg">
				            	<span class="glyphicon glyphicon-envelope"></span> Contacta al Soporte
				            </a>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	{% endblock %}